*{
    margin:0px;
    padding: 0px;
}
.navBar{
    height: 50vw;
    background-image: url(pennsylvania-campus.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}
.overlay{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

  .logo-penn{
    padding-left: 30px;
    
  }
  .right-side{
display: flex;
justify-content: flex-end;
align-items: center;
gap: 20px;
padding: 10px 20px 10px 20px;
position: relative;
z-index: 1;
top: 0;
margin-top: -10vw;
}
  .search-icon{
    padding: 8px;
    margin: 0;
  }
  .btn{
    padding: 12px;
    margin: 0; 
    background-color: brown;
    border:none;
  }
  select{
padding: 8px;
margin: 0;
background: none;
border: none;
color: white;
  }
  select:focus{
    color: black;
    outline: none;
  }
  .line {
    border-top: 1px solid white;  
    margin: 20px 0;               
  }
  .link-bar{
 color: white;
 z-index: 2;
 margin-left: 35vw;
 position: relative;
 letter-spacing: 1px;
 
  }
  .link-bar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    padding:13px;
    font-size: 13px;
    
  }
  .text-head{
    color: white;
    padding-left: 35px;
    padding-top: 130px;
    position: relative;
    z-index: 2;
  }
  .f-text{
    font-family: Arial, Helvetica, sans-serif;

  }
  .s-text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    padding: 20px 20px 1px 20px;
  }
  .hr-line{
    border-top: 2px solid gray;
    margin: 20px 0;
    width: 5vw;
  }
  .t-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;;
  }
  .top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px; 
  }
  
  .news {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(3, 3, 51);
    font-size: 70px;
  }
  

  .top-sele {
    color: rgb(4, 4, 78);
    padding: 2px;
    border: none;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  
  .top-sele:focus {
    color: black;
    outline: none;
  }
  .main-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    
  }
  .img-container{
    display: flex;
    padding-top: 20px;
    flex-direction: column;
  }
  .printing-teaser{
    padding: 20px;

  }
  .tech{
    color:brown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    padding: 20px;
  }
  .paragr{
    color: rgb(44, 44, 102);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
  }
  .right-img{
    display: flex;
   flex-direction: row;
    padding: 20px;
    position: relative;
    top: 0;
  }
  .hong-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .campus,.social{
    padding:20px;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
  }
  .high-skl,.graduate{
    color: rgb(44, 44, 102);
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    padding: 5px;
    text-align: center;
  }
  .rameen{
    padding-top: 20px;
  }
  .nas-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .health, .community{
    padding: 20px;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
  }
  .academy,.nourish{
    color: rgb(44, 44, 102);
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    padding: 5px;
    text-align: center;
  }
  .flourish{
    padding-top: 20px;
  }
  .more-news{
    display: flex;
    justify-content: center;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    padding-left:50vw ;
    padding-bottom: 80px;
  }
  .img-planet{
    height: 47vw;
    background-image: url(planet-surface-fractures.avif);
    display: flex;
    justify-content:flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 31px;
  }
  .planet-div {
    height: 45vw;
    width: 37vw;
    padding: 10px 20px 10px 20px;
    background-color: white;
    align-items: center;
    position: relative;
    z-index: 1;
    gap: 20px;
  }
  .left-ln,
  .right-ln,
  .vert-top,
  .vert-bottom {
    position: absolute;
    background-color: rgb(173, 176, 211);
    margin: 20p 0;
  }
  
  
  .left-ln {
    top: 10px;
    left: 10px;
    width: 0.2px;
    height: 96%;
  }
  
  
  .right-ln {
    top: 10px;
    right: 10px;
    height: 95.8%;
  }
  
  
  .vert-top {
    top: 10px;
    left: 10px;
    height: 0.2px;
    width: 95%;
  }
  
 
  .vert-bottom {
    bottom: 10px;
    left: 10px;
    height: 0.2px;
    width: 95%;
  }
  .natural{
    padding: 25px;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
  }
  .first-p{
    color: rgb(44, 44, 102);
    font-family: 'Times New Roman', Times, serif;
    font-size: 27px;
    text-align: center;
    padding: 20px;
    line-height: 1.3em;
  }
  .second-p{
    color: rgb(44, 44, 102);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: center;
    line-height: 1.7em;
    padding: 30px;
    letter-spacing: 0.5px;
    
  }
  .learn{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(44, 44, 102);
    text-align: center;
    padding: 50px;
  }
    
  
